---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Baroda Heritage Walk',
	description: 'Know about every important cultural sites in vadodara.',
};
---

<Layout {seo}>
	<Container>
    <img class="bgimg" src="https://www.gujarattourism.com/content/dam/gujrattourism/images/heritage-sites/vadodara-heritage-walk/Vadodara-Heritage-Walk-Banner.png" alt="Heritageing" width="fit-content">

		<TextCardSection>
			<h1>Baroda Heritage Walk</h1>
		</TextCardSection>
	</Container>

  <Container class="content">
    <h1>About Place</h1>
    <p>The city of Vadodara (formerly Baroda in English and in some Indian languages other than Gujarati) stands in Central Gujarat, a region with a long history of human activity and settlement, testified by archaeological evidences dating from a couple of centuries before the Current Era. It evolved at the intersection of important overland trade routes leading to the Arabian Sea on the west and the interior areas of north, central and southern India. In different eras, its rulers were from the north, north-west and south – Buddhist, Hindu, Jain and Muslim – until it came under British colonial influence in the early 19th century, and was merged with the Indian Union after the British left in 1947. In varying degrees, each of these eras left an impression on the place, contributing to its cultural heritage.</p> <br>
    <p>The best way to immerse in a destination is to get familiar with history and feel the vibrancy in the presence! I will take you through the rich history of Vadodara in a 2 hour 30 minute walk through the old city where you will also get familiar with culture, religions, monuments, cuisines, etc. This time is designed to completely immerse you in the heritage and the presence.</p>

    <div class="hook1">
      <h3>Navi (New) Kothi,  C.1870-80</h3>
      <img src="https://historyofvadodara.in/wp-content/uploads/Kothi.jpg" alt="navikothi" width="100%">
      <p>The Navi Kothi was one of the first office buildings designed and constructed by the Baroda State and it continues to serve a similar purpose today for the local administration.</p> <br>
    
    </div>
    
    <h3>Old Secretariat/Collector Office</h3>
    <img src="https://publicarchives.files.wordpress.com/2017/02/019pho000430s24u00042000svc2.jpg" alt="old collector office" width="100%">
    <p>The City Survey Department building seems to have been inspired by the traditional ‘wada’ construction style and use of materials and has spaces organised around two large courtyards.</p> <br>
  
    <h3>Maratha map of towns</h3>
    <img src="" alt="">
    <p>A set of eight rough plans appears to relate to the Maratha wars against the British in the early years of the 19th century. They are all similar in style, which might suggest that they were drawn later to illustrate the campaign, or that the same cartographer was present at each place, and preparing plans either before or after the engagement.</p> <br>
  
    <h3>Suryanarayana Temple</h3>
    <img src="https://4.bp.blogspot.com/-lOz6RrCl998/USdCJl3aE6I/AAAAAAAAAVo/a3_Gr6LsvRY/s900/BarodaViews+052.jpg" alt="Suryanarayan Temple" width="100%">
    <p>This shrine, the first Sun temple in Baroda, was built by Raoji Appaji Phanase, Diwan of Vadodara (1793-1803) in the second term of the reign of Govindrao Gaekwad and the early years of his successor Anandrao’s reign.</p> <br>
  
    <h3>Tambekar Wada</h3>
    <img src="https://www.baroda.com/userfiles/image/tambekarwada01.jpg" alt="Tambekar Wada" width="100%">
    <p>Bhau Tambekar was Diwan of Vadodara (1849-56) during the reign of Ganpatrao Gaekwad. This mid-19th century four-storeyed mansion was his residence</p> <br>
  
    <h3>
      A period of upheavals</h3>
    <p>Until the beginning of the 19th century, Vadodara saw a period of political and social upheavals. As no help to control the situation was available from the Peshwa overlords in Poona (now Pune), the state started enlisting mercenary forces.    </p> <br>
  
    <h3>Muzumdar Wada</h3>
    <img src="https://map.sahapedia.org/admin//assets/images/20210512040936-6146218704HS_52_Mujumdar_Wada_banner.jpg?__imr__=bannerArticle" alt="Tambekar Wada" width="100%">
    <p>This wada is notable for its brief but important association with the great yogi Sri Aurobindo who, at the end of December 1907 spent three days here in intense sadhana (meditation) with his spiritual guide, Vishnu Bhaskar Lele. At the end of three days (by the most prevalent account), he had attained ‘eternal silence of mind’ – the precondition for discovering his own path to the ultimate revelation.</p> <br>
  
    <h3>Bhaskarrao Vitthal Wada</h3>
    <img src="https://historyofvadodara.in/wp-content/uploads/Bhaskar-Vitthal-Wada.jpg" alt="Tambekar Wada" width="100%">
    <p>Originally seven-storeyed, this wada organised around two internal courtyards and standing in a spacious compound was built between 1806 and 1808 by Babaji Appaji Phanse, younger brother of and successor to Diwan Ravji Appaji.</p> <br>
  

    <h3>Nilkantheshwar Mahadev Temple</h3>
    <img src="https://cdn.s3waas.gov.in/s3be3159ad04564bfb90db9e32851ebf9c/uploads/bfi_thumb/2019032079-olwbunias8o4qmusdu9zq8ly2diybsy28iuhsknw5m.jpg" alt="Tambekar Wada" width="100%">
    <p>This is one of the oldest temples of the city, built more than two centuries ago by Babaji Apaji Fanse, an influential figure of the Gaekwad period.</p> <br>
  
    <h3>Manikrao Akhada</h3>
    <img src="https://historyofvadodara.in/wp-content/uploads/Prof-Manikraos-Shree-Jummadada-Vyayam-Mandir.jpg" alt="Tambekar Wada" width="100%">
    <p>Also known after its founder as Jumma Dada Vyayam Shala, this is a centre in the Maratha tradition (especially from Satara and Kolhapur) of physical culture for training in gymnastics and wrestling. It was set up in the latter half of the 19th century. The soil used in the wrestling pits is said to have been specially brought in from Kolhapur.</p> <br>
    
    <h3>Kala Bhavan</h3>
    <img src="https://i0.wp.com/4.bp.blogspot.com/-8PqJNTi6ud4/VBURSjqfgrI/AAAAAAAACpQ/Hj5nMeMpgBY/s1600/Kalabhavan-MSU-FTE.jpg?resize=640%2C314&ssl=1" alt="Tambekar Wada" width="100%">
    <p>The Kala Bhavan Technical Institute, conceptualised in 1886 by a professor of chemistry at Baroda College, T K Gajjar, was founded in 1890 to train artisans and apprentices in the new disciplines that would realise Sayajirao’s vision of a modern society.</p> <br>
  
    <h3>Khanqah-e-Rifaiya</h3>
    <img src="https://i0.wp.com/historyofvadodara.in/wp-content/uploads/Khanqah-e-Rafaiya.jpg?fit=1920%2C1280&ssl=1" alt="Tambekar Wada" width="100%">
    <p>This is a memorial to Saiyad Fakhruddin Rifai. He came to Vadodara during Khanderao’s reign (1856-1870) and set up his hermitage.</p> <br>
  
    <h3>Aurobindo Ashram</h3>
    <img src="https://historyofvadodara.in/wp-content/uploads/Aurobindo-Ashram.jpg" alt="Tambekar Wada" width="100%">
    <p>Sri Aurobindo – philosopher, poet, teacher, freedom fighter and yogi – was born Aurobindo Ghose in 1872, in a well-to-do Bengali family. In the first seven years of his upbringing in Kolkata and the next fourteen in England, he was largely isolated from Indian cultural influences. In 1893, after meeting Sayajirao III in England, he returned to India to join state service in Baroda.</p> <br>
  
<img src="https://www.gujarattourism.com/content/dam/gujrattourism/images/heritage-sites/vadodara-heritage-walk/Vadodara-Heritage-Walk-1.png" alt="">

  </Container>
</Layout>

<style>
  *{
    padding: 10px;
  }
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
.content img {
    width: fit-content;
    display: none;
  }
</style>
